/*!
 * fullPage 2.9.2
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

/*.fp-controlArrow {
  -webkit-user-select: none; !* webkit (safari, chrome) browsers *!
  -moz-user-select: none; !* mozilla browsers *!
  -khtml-user-select: none; !* webkit (konqueror) browsers *!
  -ms-user-select: none; !* IE10+ *!
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/
/*.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 15px 20px 15px 0;
  border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent black;
}*/
.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table.style, .fp-slide.fp-table.style {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 5px; }
  #fp-nav.left {
    left: 17px; }

.fp-slidesNav.style {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-slidesNav.style.bottom {
    bottom: 50px; }
  .fp-slidesNav.style.top {
    top: 30px; }
  .fp-slidesNav.style ul {
    margin: 0;
    padding: 0; }
    .fp-slidesNav.style ul li {
      min-height: 30px;
      min-width: 30px;
      margin-left: 0;
      margin: 7px;
      position: relative;
      display: inline-block;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
      .fp-slidesNav.style ul li a {
        display: inline-flex;
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
        cursor: pointer;
        text-decoration: none;
        overflow: hidden; }
        .fp-slidesNav.style ul li a.active, .fp-slidesNav.style ul li a:hover {
          -webkit-transform: scale(1.3) !important;
          -moz-transform: scale(1.3) !important;
          -ms-transform: scale(1.3) !important;
          -o-transform: scale(1.3) !important;
          transform: scale(1.3) !important; }
        .fp-slidesNav.style ul li a img {
          border-radius: 50%;
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 100%;
          border: 1px solid white;
          background: #333;
          top: 0%;
          margin: 0px; }

.fp-controlArrow.style {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.style.left-control {
    left: 10px; }
  .fp-controlArrow.style.right-control {
    right: 50px !important;  }
  .fp-controlArrow.style i {
    font-size: 30px;
    color: black;
    opacity: 0.5; }

.fp-tableCell.style.columns {
  background-color: #d7ecfa;
  display: table-cell;
  /*  vertical-align: middle;*/
  width: 100%;
  height: 100%; }
  .fp-tableCell.style.columns div.large-12.container div.footer-div {
    position: absolute;
    bottom: 0px;
    z-index: 5; }
    .fp-tableCell.style.columns div.large-12.container div.footer-div div {
      background-color: aliceblue;
      max-height: 60px;
      min-height: 60px;
      padding-top: 0.5%; }
      .fp-tableCell.style.columns div.large-12.container div.footer-div div.text-footer p {
        font-size: 13px;
        color: grey;
        padding-top: 2%; }
      .fp-tableCell.style.columns div.large-12.container div.footer-div div a.social-link {
        font-size: 35px; }
        .fp-tableCell.style.columns div.large-12.container div.footer-div div a.social-link:hover {
          background-color: transparent; }
        .fp-tableCell.style.columns div.large-12.container div.footer-div div a.social-link i {
          color: grey; }

.page2 {
  background-color: #c4c4c4; }

.page3 {
  background-color: #c4c4c4; }


.slide1 {
  background-color: white; }

#slide-1, #slide-2, #slide-3, #slide-4, #slide-5 {
  color: white; }

#slide-1 {
  background: url("../img/bg1.jpg"); }

#slide-2 {
  background: url("../img/bg2.jpg"); }

#slide-3 {
  background: url("../img/bg3.jpg"); }

#slide-4 {
  background: url("../img/bg4.jpg"); }

#slide-5 {
  background: url("../img/bg5.jpg"); }

.wrapper{
  background-color: dimgray;
}

  .wrapper div.single-back {
    background: url("../img/Gijoe-Facebook-timeline-cover.jpg") no-repeat;
    background-size: 100%;
    height: 350px;
    z-index: 3;
  top:0}
  .wrapper div.bottom-box{
    margin-top: 30px;
    padding-bottom: 15px;
  }
    .wrapper div.bottom-box div.video-play {
      border: 5px solid #2C2A2B;
      height: 330px; }
    .wrapper div.bottom-box div.text-box div {
      margin-top: 5%; }
      .wrapper div.bottom-box div.text-box div form input {
        background-color: #2C2A2B;
        border: 1px solid #424242; }
      .wrapper div.bottom-box div.text-box div form ul {
        margin: 0;
        padding: 0; }
        .wrapper div.bottom-box div.text-box div form ul li {
          padding-top: 7px;
          padding-bottom: 7px;
          background: transparent;
          list-style: none;
          border-bottom: 2px solid silver;
          color: lightgray;
          font-size: 12px;
          line-height: 1.2; }
          .wrapper div.bottom-box div.text-box div form ul li i {
            font-size: 11px;
            color: gold;
            margin-right: 10px;
            margin-left: 3px; }

.orbit-caption {
  left: 0; }
.navbar{
  position:absolute;
  z-index: 12;
  bottom: 2.5%;
}
.navbar-font div:hover{
  color: black;
  border-bottom: 3px solid blue;
}
.navbar-font div{
padding: 0px!important;
  margin: 0!important;
}
.topBar{
  position:absolute;
  z-index: 12;
  top: 5%;
  left: 2%;
  right: 2%;
}
.logo{
  max-width: 80px;
  max-height: 80px;
}
.large-font{
  font-size: 1.1vw;
  font-weight: 600;
}
.small-font{
  font-size: .9vw;
  font-weight: 600;
  color: gray;
  padding-bottom: 1px;
}
.large-icon{
  font-size: 25px;
  color: black;
}
.language-link{
  color: black;
  font-size: 15px;
  font-weight: 600;

}
.language-link:hover{
  color: black;
}
.icon-social a{
  color: black;
}
.icon-social a:hover{
  color: black;
}
.top-text{
  font-size:3.2vw;
  font-weight: 600;
  margin-top: -8%;
  margin-bottom: -10px;
  color: black;
}
.top-text-small{
  font-size:6vw;
  font-weight: 600;
  margin-bottom: 3%;
  margin-top: -30%;
  color: black;
}
.main-text{
  font-size: 9vw;
  font-weight: 600;
  margin-top: 0;
  color: black;
  margin-bottom: -10px;
  line-height: 1;
}
.main-text-small{
  font-size: 15vw;
  font-weight: 600;
  margin-top: 0;
  color: black;
  line-height: 1;
  margin-bottom: 3%;
}
.sub-text{
  font-size: 2.8vw;
  color: black;
}
.sub-text-small{
  font-size: 5vw;
  color: black;
  margin-bottom: 6%;
}
.button-link-small {
  background-color: black;
  margin-top: 5%;
  color: white;
  border-radius: 5px;
  padding: 4% 15% 4% 15%; }
.button-link {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.2% 5% 0.2% 5%; }

.profile{
  border-radius: 100%;
  width: 220px;
  height: 220px;
}
.profile-box{
  margin-top: 30px;
}
.profile-box-name{
margin-right: -7%;
}
.profile-producer{
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px black;
  margin-top: -5px!important;
  padding-top: 0px
}
.profile-producer-small{
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px black;
}
.profile-name{
  color: white;
  right: -5%;
  text-shadow: 3px 1px black;
  padding-top: 90px;
  font-size: 35px;
  font-weight: 600;
}
.profile-box-name-small{
  color: white;
  text-shadow: 3px 1px black;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 600;
}
.follow-box{
}
.follow-box-small div.follow-item{
  width: 30%;
  margin: 1%;
  font-size: 12px;
  padding: 2px;
}
.follow-box-small div.follow-item span{
  font-size: 9px;

}
.follow-item{
  background-color: black;
  color: white;
  border-radius: 7px;
  padding:5px 0px 5px 0px;
  width: 30%;
  margin: 1.5%;
  font-size: 14px;}

.video-subtitle {
  position: absolute;
  left: 7%;
  right: 30%;
  z-index: 0;
  bottom: -7%;
  width: 57.5%;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
}

.gold{
  color: gold;
}

.follow-item span {

  font-size: 13px;}
.wrapper{
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
