@mixin supportTransform ($tr){
  -webkit-transform: $tr;
  -moz-transform: $tr;
  -ms-transform: $tr;
  -o-transform: $tr;
  transform: $tr;
}
@mixin transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin radius ($radius){
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;

}